<a href="https://colab.research.google.com/github/NayoungShin/projectmanager/blob/main/1_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EC%B4%88_02_%EC%9E%90%EB%A3%8C%ED%98%95%EA%B3%BC%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%91%9C%ED%98%84_%EB%B0%B0%ED%8F%AC_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 파이썬 기초 다지기

## 2 - 파이썬 자료형과 데이터 표현
파이썬의 다양한 데이터 타입과 다양한 연산자, 문자열

----------------------------------

## 2-1.파이썬 자료형(Data Type)

### 수학 연산하기

### [실습문제]
- 문제1: 10 + 3 x 4 결과 출력
- 문제2: 아이폰 15대를 가지고 있다. 아이폰의 가격이 130만원 일 때 총 금액은?
- 문제3: 주어진 자연수가 홀수인지 짝수인지 판별하는 방법은?
- 문제4: 2x2x2x5x5x5x5x3x3x3x3을 제곱형태로 나타낸 후 그 결과 출력하기

In [ ]:




print(f'{}x'{}={iphone*prince}"")

### 변수
데이터를 저장할 수 있는 공간

**변수 사용 시 주의사항**
- 첫 글자는 영문, 혹은 _(언더바)로 시작할 것 (한글도 가능)
- 영문자, 숫자, _(언더바)만으로 구성할 것 (공백문자 불가)
- 대문자, 소문자 구분해서 사용할 것
- 예약어는 피할 것

### 파이썬 자료형

In [ ]:
d1 = 123
d2 = '123'
d3 = [123]
d4 = (123,)
d5 = {'key':123}
d6 = {123}
d7 = True

print(f'데이터 {d1}의 자료형: {type(d1)}')
print(f'데이터 {d2}의 자료형: {type(d2)}')
print(f'데이터 {d3}의 자료형: {type(d3)}')
print(f'데이터 {d4}의 자료형: {type(d4)}')
print(f'데이터 {d5}의 자료형: {type(d5)}')
print(f'데이터 {d6}의 자료형: {type(d6)}')
print(f'데이터 {d7}의 자료형: {type(d7)}')

f라는것을 이용하면 편해짐

### 표준 입력과 출력
- 키보드로부터 입력을 받는 함수( input() )을 표준 입력함수라 한다.
- 화면에 출력하는 함수( print() )를 표준 출력함수라 한다.

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a=input('숫자를입력하세요:')
# a=float(a)
a=float(input('숫자를 입력하세요:'))

# 표준 출력
print(f'변수a의 값 {a},{type(a)}')

숫자를 입력하세요:50
변수a의 값 50.0,<class 'float'>

In [ ]:
# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a=input('숫자를입력하세요:')
# a=float(a)
a=float(input('숫자를 입력하세요:'))

# 표준 출력
print(f'변수a의 값 {a},{type(a)}')

# 표준 입력(키보드로부터 데이터를 입력 받는 것)
# a=input('숫자를입력하세요:')
# a=float(a)
a=float(input('숫자를 입력하세요:'))

# 표준 출력
print(f'변수a의 값 {a},{type(a)}')

#### 문자열 데이터를 숫자(정수)로 변환하기

In [ ]:
# 문자열 데이터를 숫자(정수)로 변환하기

#### 다양한 변수 출력 방법

In [ ]:
a = input('키보드로 숫자를 입력해 주세요 ')

### [실습문제] : 계산기 프로그램 만들기
정수 2개를 키보드로 각각 입력 받아 아래와 같이 덧셈, 뺄셈, 곱셈, 몫, 나머지를


출력하는 프로그램을 만들어 보세요.

In [ ]:

num1=int(input('첫번째숫자:'))
num2=int(input('두번째숫자:'))
print('-'*50) #*:문자열 반복
print(('덧셈:%d + %d= %d' % (num1, num2, num1+num2)))
print(('뺄셈:%d - %d= %d' % (num1, num2, num1-num2)))
print(('곱셈:%d * %d= %d' % (num1, num2, num1*num2)))
print(('나누기:%d / %d= %d' % (num1, num2, num1/num2)))

print(f'덧셈:{num1} + {num2}= {num1+num2}')
print(f'뺄셈:{num1} - {num2}= {num1-num2}')
print(f'곱셉:{num1} * {num2}= {num1*num2}')
print(f'나누기:{num1} / {num2}= {num1/num2}')

첫번째숫자:100
두번째숫자:50
--------------------------------------------------
덧셈:100 + 50= 150
뺄셈:100 - 50= 50
곱셈:100 * 50= 5000
나누기:100 / 50= 2
덧셈:100 + 50= 150
뺄셈:100 - 50= 50
곱셉:100 * 50= 5000
나누기:100 / 50= 2.0

- f'string' 함수를 이용해 출력하기

### [실습문제] : 시간 계산 프로그램
속력과 거리를 입력 받아 시간을 계산하여 출력하는 프로그램을 만드세요!
- 시간 = 거리 / 속력

In [ ]:
velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
print('-'*50) #*:문자열 반복
print(f'속력:{velocity} km/h')
print(f'거리:{distance} km')
print(f'시간:{distance/velocity}h')

속력를 입력해 주세요(km/h) : 100
거리를 입력해 주세요(km) : 30
--------------------------------------------------
속력:100 km/h
거리:30 km

TypeError: ignored

- eval()함수 사용하여 문자열을 계산할 수 있다

In [ ]:
# eval()함수 사용

velocity = input('속력를 입력해 주세요(km/h) : ')
distance = input('거리를 입력해 주세요(km) : ')
time=eval(f'{distance}/{velocity}')
print=(f'걸린시간은{time}h ={distance}km / {velocity}km/h')

### 내장 수학 함수
- 파이썬 내장 함수 https://docs.python.org/ko/3.10/library/functions.html

In [ ]:
import math

a = -3.14
print(f'원주율: {math.pi}')
print(f'절대값: {abs(a)}')
print(f'반올림: {round(a)}')
print(f'올림  : {math.ceil(a)}')
print(f'내림  : {math.floor(a)}')
print(f'제곱  : { math.pow(2,8)}')
print(f'제곱근: {math.sqrt(4)}')
print(f'로그  : {math.log(10)}')

원주율: 3.141592653589793
절대값: 3.14
반올림: -3
올림  : -3
내림  : -4
제곱  : 256.0
제곱근: 2.0
로그  : 2.302585092994046

### [실습문제]: 수학 함수 사용하여 계산하기
- 문제1: 반지름이 4인 원의 넓이 출력
- 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
- 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력

In [ ]:
# 문제1: 반지름이 4인 원의 넓이 출력
print(f'반지름이 4인 원의 넓이: {math.pi*4**2}')

# 문제2: 3.14 곱하가 2 나누기 7의 값을 반올림하여 계산 결과 출력
print(round(3.14*2/7))

# 문제3: 원주율을 3.14로 만들어서 반지름이 4인 원의 둘레의 길이 출력
print(2*3.14*4)

반지름이 4인 원의 넓이: 50.26548245743669
1
25.12

In [ ]:
#퀴즈
# 정수(a) 를 입력 받아 a+aa+aaa 결과 출력하기

a=input('정수를 입력하세요:')
result=f"{a}+{a*2}+{a*3}"
print(f'{result}={eval(result)}')

정수를 입력하세요:7
7+77+777=861

---------------------------

## 2-2.문자와 문자열

#### 문자와 문자열 변환

In [1]:
# 문자 --> 숫자(정수) 로 변환 : ord() 함수 사용
print( ord('A') )
print( ord('!') )
print( ord('가') )

65
33
44032

In [ ]:
# 숫자(정수) --> 문자 로 변환 : chr() 함수 사용
print( chr(65) )
print( chr(66) )
print( chr(97) )
print( chr(98) )
print( chr(44032) )
print( chr(44033) )

In [ ]:
# 문자 --> 숫자 --> 이진수 로 변환
for c in '파이썬':
    숫자변환 = ord(c)              # unicode
    이진수변환 = bin(숫자변환)     # 16진수 binarycode
    print( 이진수변환, end = ' ')  # 한 줄로 표현하기

In [ ]:
for c in '파이썬':
    # 이진수에서 앞'0b'를 없애기 위해 format() 함수 사용할 수 있다.
    print( format(ord(c), 'b'), end = ' ')  # 한 줄로 표현하기

### 문자열 따옴표로 지정

#### 큰 따옴표  or 작은 따옴표로 지정한다

In [ ]:
print('Hello')
print("Hello")
print("Hello 'world")
print('Hello "world')
print(' "Yes, I can!" ')

#### 따옴표 세 개 사용 : 여러 줄로 표현할 때

In [ ]:
a = '''박씨가 소리질렀다.
도둑이야!'''
print(a)

In [12]:
menu = '''OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원'''
print(menu)

OOO카페 메뉴판
- 아메리카노:  3000원
- 카페라테:     4000원
- 카페모카:     5000원

### [실습] 주문받아 출력하기

In [2]:
# 주문받아 출력하기
print('카페주문 프로그램입니다')
print('-'*50)
print(menu)
print('-'*50)
coffee=input('주문하실 음료를 입력하세요')
print(f'주문하신음료"{}"가 나왔습니다. 맛있게드세요~')

SyntaxError: ignored

### 문자열 연산
- (+): 문자열 연결하기

In [3]:

print('안녕하세요'+'신나영님')
print('안녕하세요', '신나영님')

안녕하세요신나영님
안녕하세요 신나영님

- (*) : 반복의 의미

In [5]:
print('신나영님 '* 3)

신나영님 신나영님 신나영님

### [실습문제] 문자열 출력하기
- 문제1: 화면에   Mary’s cosmetics   출력
- 문제2: 화면에  박씨가 소리질렀다. “도둑이야!”.  출력
- 문제3: 다음 코드 실행시켜서 \t와 \n의 역할 확인하기 <br>
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

In [7]:
print("Mary's cosmetics")
print('Mary\'s cosmetics')
print('화면에  박씨가 소리질렀다. "도둑이야!"')
print("안녕하세요.\n오늘\t날씨가\t\t좋습니다.")

Mary's cosmetics
Mary's cosmetics
화면에  박씨가 소리질렀다. "도둑이야!"
안녕하세요.
오늘	날씨가		좋습니다.

-------------------

## 2-3.문자열 인덱싱과 슬라이싱

In [ ]:
a = '우리는 민족중흥의 역사적 사명을 띠고 이 땅에 태어났다.'
print( )

In [ ]:
fruits = 'orange'
print( )

In [9]:
#빈도수
기사='''A씨는 해당 교사를 4년 동안 지속적으로 괴롭혔다는 주장은 사실이 아니라고 강조했다
. 그는 "소위 괴롭힘이라는 거, 어떤 괴롭힘이 심각한 건지 아시지 않냐. 드라마로도 잘 알려져 있고,
 간혹 전해지는 뉴스 소식도 다 못 볼 정도로…나이 40살 다 돼서 무슨 괴롭힘이냐"고 억울해했다.

A씨는 자녀가 감정적으로 다쳐온 이후 교사에게 언성을 높였다며 "정서적 학대가 뭔지.
 자꾸 아니라고만 하시길래 답답해서 잠시 학력 운운한 것"이라고 적었다.

또 2019년 이후 해당 교사를 만나거나 연락한 적도 없고, 연락하지 않아서 괴롭힌 적도 없다는 게 A씨의 이야기다.
 그는 "당시 유치원에서 나올 때 하루에 30개가량 행정 관련,
 아이 관련해 다소 차갑게 엄마로서 챙길 거 문의드린 것뿐"이라며 "그 전 문자들은 유치원 교사나 엄마들 사이에서 충분히 오고 갈 수 있는 상식선의 대화 아니냐"고 말했다.'''
print(기사.count('교사')) # 기사'교사' 단어의 개수
print(기사.find('교사')) #기사'교사' 단어가 나오는 위치

4
7

---------------------------

In [1]:
#거꾸로 출력
s=input('문자열을 입력하세요')
print(s[::-1])

문자열을 입력하세요사랑해요.파이썬!
!썬이파.요해랑사

#파일명 확장자와 사용자 분리 출력
#split함수 사용하는방법

In [1]:


fname = input('파일을 입력하세요: ')
print(f'입력한 파일: {fname}')

a = fname.split('.')
print(f'파일명: {a[0]}, 확장자: {a[1]}')

파일을 입력하세요: test.py
입력한 파일: test.py
파일명: test, 확장자: py

## 2-4.변수 활용

### [실습문제]: 지불할 음식 총 가격 계산하기
- 음식가격:  4,450 원
- 세금: 6.75%
- 팁: 15%
1. meal 변수를 선언하고 값을 4450으로 지정하세요.
2. tax 변수를 생성하고 값으로 6.75%를 소수점 형태로 지정하세요.
3. tip 변수를 생성하고 값으로 15%를 소수점 형태로 지정하세요.
4. meal의 변수값에 세금을 곱해 meal 변수에 지정하세요.
5. 음식값에 tip을 더해 total 변수에 지정하세요.
6. total 변수 값을 출력하세요.

In [1]:
meal = 4450    # 1.음식가격
tax = 0.0675   # 2.세금
tip = 0.15     # 3.팁

print(f'순수 세금: {meal*tax}')
meal = meal + (meal * tax)   # 4. 음식가격
total = meal + (meal * tip)  # 5. 팁 적용한 총 금액
print(f'팀 금액: {meal * tip}')
print(f'내가 지불해야 할 총 금액: {round(total,2)}')

순수 세금: 300.375
팀 금액: 712.55625
내가 지불해야 할 총 금액: 5462.93

### [실습문제]: 섭씨온도를 화씨온도로 변환하기
- 섭씨 온도 (Celsius): 1 atm에서의 물의 어는점을 0도, 끓는점을 100도로 정한 온도 체계. (°C)


- 화씨 온도 (Fahrenheit): 물이 어는 온도는 32도, 물이 끓는 온도는 212도. 180등분. (°F)
- 섭씨온도(℃) = (5 / 9) × (℉ - 32)  # Celsius
- 화씨온도(℉) = (9 / 5) × ℃ + 32    # Fahrenheit

In [2]:
# c_temp = input()   #키보드로부터 입력을 받는 함수: input()
# c_temp = int(c_temp)  # 정수로 변환: int()
# print(c_temp, type(c_temp)

#섭씨온도를 화씨온도로 변환하기
c_temp = float(input('온도를 입력해 주세요(화씨): '))
f_temp = (9 / 5) * c_temp + 32
print(f'화씨 온도 {c_temp}℃를 섭씨 온도로 변환하면 {f_temp}℉!')

KeyboardInterrupt: ignored

-------

## 2-5.연산자

### [실습문제]: 동전 교환 프로그램 만들기

In [8]:
# 키보드로부터 금액 입력 받기
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
print('-'*30) #구분선 출력하기
print(f"500원짜리 ==> {money//500}개") # money%=500으로 교체도 가능
money=money%500
print(f"100원짜리 ==> {money//100}개")
money=money%100
print(f"50원짜리 ==> {money//50}개")
money=money%50
print(f"10원짜리 ==> {money//10}개")
money=money%10
print(f"잔돈 ==>{money}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 4760
동전으로 교환하겠습니다.---------
------------------------------
500원짜리 ==> 9개
100원짜리 ==> 2개
50원짜리 ==> 1개
10원짜리 ==> 1개
잔돈 ==>0원

In [10]:
print('---동전교환기 프로그램을 작동합니다.---')
money = int( input('금액을 입력하세요: '))
print('동전으로 교환하겠습니다.---------')
print('-'*30) #구분선 출력하기
print(f"500원짜리 ==> {money//500}개") # money%=500으로 교체도 가능
money%=500
print(f"100원짜리 ==> {money//100}개")
money%=100
print(f"50원짜리 ==> {money//50}개")
money%=50
print(f"10원짜리 ==> {money//10}개")
money%=10
print(f"잔돈 ==>{money}원")

---동전교환기 프로그램을 작동합니다.---
금액을 입력하세요: 37628
동전으로 교환하겠습니다.---------
------------------------------
500원짜리 ==> 75개
100원짜리 ==> 1개
50원짜리 ==> 0개
10원짜리 ==> 2개
잔돈 ==>8원

-----------------------------------------

## 2-6.리스트(List)
- 리스트는 여러 개의 데이터 값을 하나의 변수에 담을 수 있는 데이터 구조
- 리스트는 순서(인덱스)가 있고 데이터를 수정, 삭제, 추가 가능하다.
- 대괄호로 표현되고 내부 원소는 ,(쉼표)로 구분됨

### 리스트 생성

In [12]:
a = list()
a = []
a = [1,2,3]
a = ['I', 'Love', 'Python']
b = [1,2, '사랑해요', 'Python']
b = ['a', '1', 1, [2,3], -4]
a = [1,2,['a','b',['사랑해', '파이썬']], 3]

In [5]:
print(a)
print(b)

NameError: ignored

In [4]:
range(10)
print(list(range(10))) # 정수를 순차적으로 만들어주는 함수  [] 로 되어서 그 안에 리스트로 된다..

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
#문자열을 리스트로 만들기
a='python'
list(a)

['p', 'y', 't', 'h', 'o', 'n']

In [14]:
기사 = '''오늘 남부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 남부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
남부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.
'''
기사.replace('남부지방', '중부지방')  #기존 단어를 다른 단어로 교체
print(기사)
result=기사.split(' ')  #' ' 로 분리해서 리스트로 변환
print(f'리스트의 요소 개수(길이): {len(result)}')
print(result)

오늘 남부지방과 제주도는 대체로 흐린 가운데 비가 내리겠습니다.
예상 강수량은 영남 해안 지역이 30에서 80mm, 많은 곳은 100mm 이상이고, 그 밖의 남부지방과 제주도는 10에서 60mm입니다.
비가 오는 동안 천둥·번개가 치고, 한 시간에 30mm가 넘는 강한 비가 쏟아지는 곳이 있겠습니다.
남부지방과 제주도의 비는 내일 오전까지 계속되는 곳이 있겠습니다.
오늘 중부지방은 가끔 구름이 많이 끼는 가운데 오후에 5에서 30mm의 소나기가 오는 곳이 있겠습니다.
낮 최고기온은 서울 33도 등 전국이 26도에서 34도로 어제와 비슷하거나 조금 더 높겠습니다.
바다의 물결은 남해 먼바다와 제주도 해상에서 최고 2.5m로 비교적 높게 일겠습니다.
동해안과 경남 남해안에는 높은 너울이 밀려오는 곳이 있겠고, 동해상에는 짙은 안개가 끼는 곳이 있겠습니다.

리스트의 요소 개수(길이): 92
['오늘', '남부지방과', '제주도는', '대체로', '흐린', '가운데', '비가', '내리겠습니다.\n예상', '강수량은', '영남', '해안', '지역이', '30에서', '80mm,', '많은', '곳은', '100mm', '이상이고,', '그', '밖의', '남부지방과', '제주도는', '10에서', '60mm입니다.\n비가', '오는', '동안', '천둥·번개가', '치고,', '한', '시간에', '30mm가', '넘는', '강한', '비가', '쏟아지는', '곳이', '있겠습니다.\n남부지방과', '제주도의', '비는', '내일', '오전까지', '계속되는', '곳이', '있겠습니다.\n오늘', '중부지방은', '가끔', '구름이', '많이', '끼는', '가운데', '오후에', '5에서', '30mm의', '소나기가', '오는', '곳이', '있겠습니다.\n낮', '최고기온은', '서울', '33도', '등', '전국이', '26도에서', '34도로', '어제와', '비슷하거나', '조금', '더', '높겠습니다.\n바다의', '물결은', '남해', '먼바다와', '제주도', '해상에서', '최고', '2.5m로', '비교적', '높게', '일겠습니다.\n동해안과', '경남', '남해안에는', '높은', '너울이', '밀려오는', '곳이', '있겠고,', '동해상에는', '짙은', '안개가', '끼는', '곳이', '있겠습니다.\n']

### 리스트 전체 삭제

In [15]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

del(b) 리스트 전체 삭제
print(a)
print(b)

[1, 2, 3, 4, 5]

NameError: ignored

### 리스트 요소에 접근

In [16]:
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']
 #           0      1            2                  3         4     리스트는 그 안에 리스트가 들어갈수 있. 문자는 ''로 한가지지만 차원이 계속 만들수 있음. 리스트안에 리스트안에 리스트안에..
#                           0         1
print( colors[1] )
print( colors[2] )
print( colors[2][1] ) # 2번째 대괄혼안에서 1번째..
# '파이썬'을 출력하려면?

green
['blue', 'deepblue']
deepblue

### 리스트 요소 추가 / 변경

In [14]:
colors = ['red', 'green', ['blue', 'deepblue'], 'black', 'white']
print(colors)
colors.append('핑크')     # 리스트 맨 끝에 추가
print(colors)
colors.insert(1, '연두')  # 리스트명.insert(인덱스위치, 값)
print(colors)
colors[3].insert(1, 'darkblue')
print(colors)
colors.append(['r','g','b'])
print(colors)

['red', 'green', ['blue', 'deepblue'], 'black', 'white']
['red', 'green', ['blue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크']
['red', '연두', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]

In [ ]:
print(a)
a.append('봄')     # 리스트 맨 끝에 추가
print(a)
a.insert(1, '봄')  # 리스트명.insert(인덱스위치, 값)
print(a)

In [15]:
#리스트 요소 변경
colors[1]='light green'
print(colors)
colors[3][1]='lightblue'
print(colors)
colors[3:]='yellow'
print(colors)

['red', 'light green', 'green', ['blue', 'darkblue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]
['red', 'light green', 'green', ['blue', 'lightblue', 'deepblue'], 'black', 'white', '핑크', ['r', 'g', 'b']]
['red', 'light green', 'green', 'y', 'e', 'l', 'l', 'o', 'w']

### 리스트 요소 삭제

In [ ]:
print(a)
a.pop()     # 리스트 맨 끝 요소 삭제
print(a)
a.remove('봄')  # 리스트명.remove(값), 단 여러 개 일 경우 첫 번째만 삭제됨
print(a)

In [19]:
# 리스트 요소 삭제
colors = ['red', 'light green', 'green', 'e', 'l', 'l', 'o']
print(colors)

del colors[3]       # 특정 위치 요소 제거
print(colors)

colors.remove('l')  # 특정 값 제 여러개가 있다면 첫번째꺼만 제거..반복문으로 trick을 써서 지워야한다.
print(colors)

colors.pop()        # 맨 뒤의 요소 제거
print(colors)

['red', 'light green', 'green', 'e', 'l', 'l', 'o']
['red', 'light green', 'green', 'l', 'l', 'o']
['red', 'light green', 'green', 'l', 'o']
['red', 'light green', 'green', 'l']

In [20]:
list(range(-1,-5,-1))

[-1, -2, -3, -4]

In [30]:
#임의의 수 생성해서 리스트로 만들고 정력하기
import random
numbers=list # 빈 리스트
numbers=[] # 빈 리스트

num=random.randint(1,100)  # 1~100까지 정수 중에 임의로 하나 뽑기
numbers.append(num)
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
numbers.append(random.randint(1,100))
print(f'정렬 전: {numbers}')

#정렬하기
numbers.sort()
print(numbers)
numbers.reverse()
print(f'정렬 후: {numbers}')

정렬 전: [46, 15, 37, 46, 50, 14]
[14, 15, 37, 46, 46, 50]
정렬 후: [50, 46, 46, 37, 15, 14]

## 2-7.딕셔너리(Dictionary)
- 딕셔너리는 쌍이 하나로 묶인 자료구조
- 인덱스를 의미하는 ‘키(key)'와 자료의 내용인 ‘ 값(value)'을 이용하여  데이터를 관리
- 중괄호 { }로 묶어 구성, 키(Key)와 값(Value)의 쌍으로 구성
- 순서(sequence)가 없다

### 딕셔너리 생성

In [9]:
members ={}   #빈 딕셔너리
members =dict()   # 빈 딕셔너리
print(type(members ),members )

members = {'name':'진', 'age':29, 'email':'jin@gggmail.com'}
print(members)
print(members['age'])
print(members.get('age'))

members[7] =['정국', '뷔', '지민']
print(members)

<class 'dict'> {}
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com'}
29
29
{'name': '진', 'age': 29, 'email': 'jin@gggmail.com', 7: ['정국', '뷔', '지민']}

### 딕셔너리 키(key)와 값(value)에 접근하기

In [17]:
## 딕셔너리의 요소 접근하는 방법

scores = {'국어': 100, '수학': 90, '영어': 80}
print(scores['국어'])  # 딕셔너리는 키로 접근한다.

# 방법1
print('---방법1---')
for key in scores:
    # print('%s => %s' % (key, scores[key]))
    print(f'{key} => {scores[key]}')

# (키,값) 요소를 갖는 리스트 형태로 반환하는 함수
print(scores.items())

# 방법2
print('---방법2---')
for (key, value) in scores.items():
    # print('%s => %s' % (key, value))
    print(f'{key} => {value}')

100
---방법1---
국어 => 100
수학 => 90
영어 => 80
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])
---방법2---
국어 => 100
수학 => 90
영어 => 80

In [19]:
print(scores.keys())   # 키만 추출해서 리스트로 반환
print(scores.values()) # 값만 추출해서 리스트로 반환
print(scores.items())  # (키,값)쌍 형태로 추출해서 리스트로 반환

dict_keys(['국어', '수학', '영어'])
dict_values([100, 90, 80])
dict_items([('국어', 100), ('수학', 90), ('영어', 80)])

### 딕셔너리에 요소 추가/수정/삭제

In [21]:
scores = {'국어': 100, '수학': 90, '영어': 80}
print(scores)

# 키로 요소 추가하기
scores['music'] = 100
print(scores)

# 요소 값 수정하기
scores['수학'] = 99
print(scores)

# 요소 삭제하기
del (scores['영어'],scores['music'])
print(scores)

{'국어': 100, '수학': 90, '영어': 80}
{'국어': 100, '수학': 90, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99, '영어': 80, 'music': 100}
{'국어': 100, '수학': 99}

------------------------

###튜플(Tuple)

In [25]:
a=tuple()  #빈튜플 생성
a=()        # 빈 튜플 생성
print(type(a))

a=(1,) #튜플에 요소 1개를 정의할 때는 반드시  , 쉼표를 사용해야함.
print (type(a),a)

a=(1,2,3,4,5)
print(type(a),a)

print(a[3])
print(a[:3])

<class 'tuple'>
<class 'tuple'> (1,)
<class 'tuple'> (1, 2, 3, 4, 5)
4
(1, 2, 3)

###집합(Set)

In [26]:
a=set()
a=set('hello')    #순서가 없고 반복되는건 빼고 나온다.
print(type(a), a)

<class 'set'> {'e', 'o', 'h', 'l'}

In [31]:
#집압에서는 중복된 데이터를 베제시킬 수 있다.
fruits=(['사과', '바나나 ', '포도', '사과','귤', '귤'])
a=list(set(fruits))               #중복된것을 배제
a.sort()                           #가,나,다 순으로 정력해준다.
print(a)

['귤', '바나나 ', '사과', '포도']

In [34]:
fruits=([]'사과', '바나나 ', '포도', '사과','귤', '귤')
a=tuple(set(fruits))               #중복된것을 배제
print(a)

('귤', '사과', '포도', '바나나 ')

In [35]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

끝